extends ./_partials/layout.pug

block vars
  - bodyClass = 'index'

block main

  .list-katedry.columns.is-desktop.is-multiline


    // katedra item
    .column.is-full.list-katedra-item#antropologie

      .list-katedra-item-title-container


        h2.list-katedra-title.list-katedra-title-ksa.as-title  Katedra antropologie

        .list-katedra-item-images-container.columns.is-desktop

          .column.is-half
            img.main-photo.item(src="assets/images/ksa/ksa-main.jpg")

          .column.is-half

            .item.video-container
              .video
                <iframe src="https://www.youtube-nocookie.com/embed/XMtbsYnwE3g" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


      .list-katedra-item-content-container.columns.is-tablet

        .list-katedra-item-content-intro.column.is-half
          p.
            Na Katedře antropologie pěstujeme jak sociální a kulturní antropologii tak biologickou antropologii. Sociální a kulturní antropologie je společenská věda, která se věnuje menším společenským celkům, než jsou moderní státní společnosti. To znamená různým subkulturám, komunitám a menšinám. Vychází z&nbsp;přesvědčení, že soudobé společnosti nejsou homogenní, ale naopak jsou tvořené mnoha různými sociokulturními "světy". A každém z&nbsp;nich to chodí trochu jinak, podle specifických pravidel jednání a myšlení, což je právě to, co nás zajímá &mdash; variabilita sociálních norem a kulturních představ.
          p.
            Biologická antropologie se zabývá biologickou variabilitou lidského druhu, jejím vývojem a různými formami adaptace lidského těla na přírodní podmínky. A také tím, jak se různé formy života minulých i&nbsp;současných populací v&nbsp;lidské tělesnosti odrážejí, a jaké jsou naopak biologické limity sociálně a kulturně předávaného jednání a myšlení.

          .katedra-social-links
            h3 Odkazy a sociální sítě
            a.social-link.link-facebook(href="https://www.facebook.com/antropologie.org") Facebook katedry
            a.social-link.link-vimeo(href="https://vimeo.com/sviet") Vimeo
            a.social-link.link-flickr(href="https://www.flickr.com/photos/antropologie/") Flickr

          a(href="http://www.antropologie.org/").list-katedra-title.list-katedra-title-ksa.as-link ⮕  VÍCE O KATEDŘE


        .list-katedra-item-content-meta.column.is-half

          .columns

            .column.is-one-half
              .box-widget(style="background-color: #cd7430;")
                .heading Nabízené programy
                .content
                  h3 bakalářský program:
                  ul
                    li Sociální a kulturní antropologie (Bc.)
                  h3 navazující magisterské studium:
                  ul
                    li Sociální a kulturní antropologie (Mgr.)
                    li Antropologie populací minulosti (Mgr.)

            .column.is-one-half
              .erasmus.box-widget(style="background-color: #579de7;")
                .heading Erasmus
                .content
                  ul
                    li Bělorusko: Běloruská státní univerzita, Minsk
                    li Bulharsko: Sofia University – St. Kliment Ochridski
                    li Bulharsko: South-West University „Neofit Rilski“-Blagoevgrad - Department of Lunguistic
                    li Německo: Universität Mainz – Johannes Gutenberg Un.
                    li Německo: Universität Regensburg
                    li Polsko: University of Lodz – Institute of Ethnology and Anthropology of Culture
                    li Polsko: University of Warsaw - Institute of Western and Southern Slavic Studies
                    li Slovensko: Prešovská univerzita v Prešove
                    li Slovensko: Univerzita sv. Cyrila a Metoda v Trnave
                    li Slovinsko: University of Primorska -Faculty of Humanities – Koper
                    li Španělsko: Universitat Autonoma de Barcelona – Department d´Antropologia Social i Cultural
                    li Ukrajina: Oděská univerzita I.I. Mečnikova, Oděsa
                    li Velká Británie: Durham University
                    li Velká Británie: University of Kent



    // katedra item
    .column.is-full.list-katedra-item#anglicky-jazyk

      .list-katedra-item-title-container

        .subtitle Where language meets the real world

        h2.list-katedra-title.list-katedra-title-kaj.as-title Katedra anglického jazyka a literatury

        .list-katedra-item-images-container.columns.is-desktop

          .column.is-half
            img.main-photo.item(src="assets/images/kaj/kaj-main.jpg")

          .column.is-half

            .item.video-container
              .video
                <iframe src="https://www.youtube-nocookie.com/embed/AGvlHgUuyms" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>




      .list-katedra-item-content-container.columns.is-tablet

        .list-katedra-item-content-intro.column.is-half
          p.
            KAJ patří do skupiny jazykových pracovišť, které společně pečují o&nbsp;program Cizí jazyky pro komerční praxi. Naše předměty nabízí komplexní pohled na anglofonní svět pomocí hlubšího porozumění jazyku, specifické kultuře a komerčním zákonitostem. Celá řada kurzů je orientovaná směrem do praxe a klade důraz na získání nejen odborných, ale i&nbsp;praktických dovedností. Na katedře panuje unikátní přátelská atmosféra, kterou se podařilo zachovat i&nbsp;v&nbsp;době online výuky.

          .katedra-social-links
            h3 Odkazy a sociální sítě
            a.social-link.link-facebook(href="https://www.facebook.com/kajFFZCU") Facebook katedry


          a(href="https://kaj.zcu.cz/").list-katedra-title.list-katedra-title-kaj.as-link ⮕  VÍCE O KATEDŘE


        .list-katedra-item-content-meta.column.is-half

          .columns

            .column.is-one-half
              .box-widget(style="background-color: #dee8f2;")
                .heading Nabízené programy
                .content
                  h3 bakalářský program:
                  ul
                    li Cizí jazyky pro komerční praxi (Bc.)

            .column.is-one-half
              .erasmus.box-widget(style="background-color: #0f487d; color: #fefefe;")
                .heading Erasmus
                .content
                  ul
                    li University of Łódź, Polsko
                    li University of Zielona Góra, Polsko
                    li University of Aveiro, Portugalsko


    // katedra item
    .column.is-full.list-katedra-item#archeologie

      .list-katedra-item-title-container

        h2.list-katedra-title.list-katedra-title-kar.as-title  Katedra archeologie

        .list-katedra-item-images-container.columns.is-desktop

          .column.is-half
            img.main-photo.item(src="assets/images/kar/kar-main.jpg")

          .column.is-half

            .item.video-container
              .video
                <iframe src="https://www.youtube-nocookie.com/embed/zhklHv8B0Wc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>



      .list-katedra-item-content-container.columns.is-tablet

        .list-katedra-item-content-intro.column.is-half
          p.
            Katedra archeologie zajišťuje výuku archeologie pravěku, středověku, novověku a moderní doby. Cílem výuky archeologie na ZČU je výchova vysokoškoláků na základě archeologie. Absolventi mají získat hluboké vědomí o artefaktovém dědictví minulosti a jeho významu pro současné lidstvo a současně si osvojit řadu znalostí a dovedností, které jiné společenskovědní obory neposkytují (rozsáhlé použití počítačového softwaru, například databází a geografických informačních systémů, použití GPS, digitální fotografie, leteckého snímkování atd.). Katedra archeologie vytváří badatelské centrum v podobě obdobné západoevropským univerzitám. Rozvíjí základní výzkum v teoretické i terénní archeologii, řeší problémy archeologické metodologie, prostorové a nedestruktivní archeologie, vytváření komplexních archeologických databází a zpracování prostorových archeologických dat s využitím geografických informačních systémů.

          .katedra-social-links
            h3 Odkazy a sociální sítě
            a.social-link.link-facebook(href="https://www.facebook.com/KARZCU") Facebook katedry
            a.social-link.link-instagram(href="https://www.instagram.com/archeologiezapadu/") Instagram



          a(href="https://kar.zcu.cz/").list-katedra-title.list-katedra-title-kar.as-link ⮕  VÍCE O KATEDŘE


        .list-katedra-item-content-meta.column.is-half

          .columns

            .column.is-one-half
              .box-widget(style="background-color: #e3d2cf;")
                .heading Nabízené programy
                .content
                  h3 bakalářský program:
                  ul
                    li Archeologie
                  h3 navazující magisterské studium:
                  ul
                    li Archeologie
                  h3 doktorský program:
                  ul
                    li Archeologie

            .column.is-one-half
              .erasmus.box-widget(style="background-color: rgba(66, 88, 92, .5);")
                .heading Erasmus
                .content
                  ul
                    li University of Amsterdam,
                    li University of Oulu,
                    li Nicolaus Copernicus University in Toruń,
                    li Cardinal Stefan Wyszynski University in Warsaw
                    li University of Łódż,
                    li Komenského univerzita v Bratislavě,
                    li University of Zadar,
                    li University of Zagreb,
                    li Babes-Bolyai University Cluj-Napoca

    // katedra item
    .column.is-full.list-katedra-item#blizkovychodni-studia

      .list-katedra-item-title-container

        .subtitle Blízký východ pro nás není španělská vesnice

        h2.list-katedra-title.list-katedra-title-kbs.as-title  Katedra blízkovýchodních studií

        .list-katedra-item-images-container.columns.is-desktop

          .column.is-half
            img.main-photo.item(src="assets/images/kbs/kbs-main.jpg")

          .column.is-half

            .item.video-container
              .video
                <iframe src="https://www.youtube-nocookie.com/embed/fVAaGAbtRxU" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>



      .list-katedra-item-content-container.columns.is-tablet

        .list-katedra-item-content-intro.column.is-half
          p.
            Katedra blízkovýchodních studií vychovává odborníky připravené komunikovat a hájit zájmy České republiky ve vztahu k&nbsp;regionu Blízkého východu a severní Afriky. Naší specialitou je kombinace praktické jazykové přípravy s&nbsp;komplexním studiem náboženství, dějin, náboženství a kultury v&nbsp;těchto zemích, při kterém klademe důraz na schopnost pohybovat se v&nbsp;terénu a pružně reagovat na aktuální dění v&nbsp;regionu.

          .katedra-social-links
            h3 Odkazy a sociální sítě
            a.social-link.link-facebook(href="https://www.facebook.com/kbs.zcu.cz/") Facebook katedry

          a(href="https://kbs.zcu.cz/").list-katedra-title.list-katedra-title-kbs.as-link ⮕  VÍCE O KATEDŘE



        .list-katedra-item-content-meta.column.is-half

          .columns

            .column.is-one-half
              .box-widget(style="background-color: #ead1a9;")
                .heading Nabízené programy
                .content
                  h3 bakalářský program:
                  ul
                    li Kulturní studia Blízkého východu
                  h3 navazující magisterské studium:
                  ul
                    li Kulturní studia Blízkého východu

            .column.is-one-half
              .erasmus.box-widget(style="background-color: #1c407c; color: #fefefe;")
                .heading Erasmus
                .content
                  ul
                    li Université Cadi Ayyad, Marrákeš, Maroko
                    li University of Pavia, Pavia, Itálie
                    li University of Khartoum, Chartúm, Súdán
                    br
                    li al-Mustafa International University, Qom, Írán
                    li Universität Bayreuth, Bayreuth, Německo
                    li Jimma University, Jimma, Etiopie
                    li Harran University, Sanliurfa, Turecko
                    li a řada dalších partnerů v rámci EU.

    // katedra item
    .column.is-full.list-katedra-item#filozofie

      .list-katedra-item-title-container

        .subtitle Filozofie je kompasem myšlení

        h2.list-katedra-title.list-katedra-title-kfi.as-title  Katedra filozofie


        .list-katedra-item-images-container.columns.is-desktop

          .column.is-half
            img.main-photo.item(src="assets/images/kfi/kfi-main.jpg")

          .column.is-half

            .item.video-container
              .video
                <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/rkIdiUXeXhE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


      .list-katedra-item-content-container.columns.is-tablet

        .list-katedra-item-content-intro.column.is-half
          p.
            Na katedře filozofie vás naučíme přemýšlet. Přečtete si jakýkoliv text, budete ho umět pochopit, smysluplně ho komukoliv přetlumočit, kriticky se k&nbsp;němu vztáhnout a poučeně argumentovat pro či proti názoru, který prosazuje. Pochopíte základní otázky, které si člověk klade a které se linou celými dějinami, a to z&nbsp;perspektivy filozofie, historie, estetiky, religionistiky a psychologie.


          .katedra-social-links
            h3 Odkazy a sociální sítě
            a.social-link.link-facebook(href="https://www.facebook.com/filozofie.zcu/") Facebook katedry
            a.social-link.link-instagram(href="https://www.instagram.com/katedrafilozofieff/") Instagram
            a.social-link.link-youtube(href="https://www.youtube.com/channel/UCLf4k60UjaedAPvQDDCZR3g") YouTube


          a(href="https://kfi.zcu.cz/").list-katedra-title.list-katedra-title-kfi.as-link ⮕  VÍCE O KATEDŘE


        .list-katedra-item-content-meta.column.is-half

          .columns

            .column.is-one-half
              .box-widget(style="background-color: #eadac3;")
                .heading Nabízené programy
                .content
                  h3 bakalářský program:
                  ul
                    li Filozofie
                    li Humanitní studia
                  h3 navazující magisterské studium:
                  ul
                    li Filozofie pro umělou inteligenci
                    li Humanitní studia
                  h3 doktorský program:
                  ul
                    li Filozofie a dějiny vědy a techniky

            .column.is-one-half
              .erasmus.box-widget(style="background-color: #c0964c; color: #fefefe;")
                .heading Erasmus
                .content
                  ul
                    li Universidad de Granada
                    li Universitet i Bergen
                    li Freie Universität Berlin
                    li Universität Regensburg
                    li Universität Leipzig
                    li Universidade dos Açores
                    li Universidad de Salamanca
                    li Otto-von-Guericke-Universität Magdeburg
                    li Karl Franzens Universität Graz
                    li Üsküdar Üniversitesi
                    li Universidade do Minho
                    li Univerzita Komenského v Bratislave
                    li Alpen-Andria-Universität Klagenfurt
                    li Trnavská univerzita v Trnave
                    li Nicolaus Copernicus University in Torun

    // katedra item
    .column.is-full.list-katedra-item#germanistika

      .list-katedra-item-title-container

        .subtitle S námi se na cestu vždycky doptáte…

        h2.list-katedra-title.list-katedra-title-kgs.as-title  Katedra germanistiky a slavistiky


        .list-katedra-item-images-container.columns.is-desktop

          .column.is-half
            img.main-photo.item(src="assets/images/kgs/kgs-main.jpg")

          .column.is-half

            .item.video-container
              .video
                <iframe src="https://www.youtube-nocookie.com/embed/rTaHvaW9P1I" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


      .list-katedra-item-content-container.columns.is-tablet

        .list-katedra-item-content-intro.column.is-half
          p Katedra s&nbsp;jedinečným konceptem propojení germanistiky a slavistiky, tedy zájmu o německý jazyk a kulturu a jazyky a kultury slovanské (zejm. ruštinu, ukrajinštinu a češtinu). Česko-německou srovnávací perspektivu pak nabízíme hlavně v&nbsp;přístupu ke spádovým regionům plzeňské filozofické fakulty s&nbsp;rozsáhlými příhraničními oblastmi s německy mluvícími zeměmi.
          p Naši katedru tvoří tým odborníků na jazyk, literaturu, kulturu a didaktiku jazyků vyjmenovaných filologických oblastí, kteří působí na oddělení germanistiky, oddělení slavistiky a společně pak na interdisciplinárním Centru interregionálního výzkumu (Zentrum für interregionale Forschung), v němž se zaměřujeme na nejrůznější společenské aspekty soužití Čechů a Němců ve společném &mdash; zejména česko-bavorském &mdash; interregionu a na zasazování těchto poznatků do širšího kontextu (např. porovnáváním s&nbsp;jinými evropskými interregiony).

          .katedra-social-links
            h3 Odkazy a sociální sítě
            a.social-link.link-facebook(href="https://www.facebook.com/Katedra-germanistiky-a-slavistiky-FF-Z%C4%8CU-1515713142080684") Facebook katedry



          a(href="https://kgs.zcu.cz/").list-katedra-title.list-katedra-title-kgs.as-link ⮕  VÍCE O KATEDŘE


        .list-katedra-item-content-meta.column.is-half

          .columns

            .column.is-one-half
              .box-widget(style="background-color: #bcbcd8;")
                .heading Nabízené programy
                .content
                  h3 bakalářské programy:
                  ul
                    li Společně s dalšími filologickými katedrami na fakultě (katedrou anglického jazyka a literatury a katedrou románských jazyků) nabízíme profesně zaměřený bakalářský studijní program Cizí jazyky pro komerční praxi. Naše katedra zajišťuje logicky CJKP s němčinou a CJKP s ruštinou.

                  h3 navazující magisterské studium:
                  ul
                    li Od roku 2019 nabízíme světovou novinku v podobě plzeňské bavaristiky — jedná se o profesně zaměřený navazující magisterský studijní program Areálová studia: Bavorská studia.

            .column.is-one-half
              .erasmus.box-widget(style="background-color: #01944e; color: #fefefe;")
                .heading Erasmus
                .content
                  p bavorské univerzity: Augsburg, Bamberg, Bayreuth, Regensburg, München, Passau, Weiden další německé univerzity: Dresden (Sasko), Frankfurt am Main (Hesensko), Görlizt-Zittau (Sasko &mdash; oblast Lužice), Chemnitz (Sasko), Ludwigsburg (Bádensko-Würtenbersko), ruské a ukrajinské univerzity: Černovice (Ukrajina), Kremenčuk (Ukrajina), Kirov (Rusko), Moskva (Rusko), Orel (Rusko), Perejeslav (Ukrajina), Petrozavodsk (Rusko)


    // katedra item
    .column.is-full.list-katedra-item#historicke-vedy

      .list-katedra-item-title-container

        .subtitle Na cestě do minulosti

        h2.list-katedra-title.list-katedra-title-khv.as-title  Katedra historických věd

        .list-katedra-item-images-container.columns.is-desktop

          .column.is-half
            img.main-photo.item(src="assets/images/khv/khv-main.jpg")


          .column.is-half

            .item.video-container
              .video
                <iframe src="https://www.youtube-nocookie.com/embed/jjDkl-GF1uw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>



      .list-katedra-item-content-container.columns.is-tablet

        .list-katedra-item-content-intro.column.is-half
          p.
            Katedra historických věd je pedagogické a výzkumné pracoviště, které se soustředí na studium českých a světových dějin.  V bakalářském stupni studia se můžete přihlásit na nově otevřený obor historie. Jako jedno z mála pracovišť v&nbsp;ČR nabízí KHV magisterský studijní program moderní dějiny, který studentům umožní zkoumat tuto bouřlivou dobu ve&nbsp;všech jejích souvislostech. Na katedře působí mladý pedagogický tým, který vyznává osobní přístup ke&nbsp;studentům a nabízím jim řadu možností, jak se studijně realizovat i&nbsp;mimo výuku. Pravidelně pořádá akce jako historická kavárna, historická olympiáda anebo studentské besídky. Jste srdečně zváni, abyste se vydali na cestu do minulosti společně s&nbsp;námi.

          .katedra-social-links
            h3 Odkazy a sociální sítě
            a.social-link.link-facebook(href="https://www.facebook.com/KHVFFZCU") Facebook katedry


          a(href="https://khv.zcu.cz/").list-katedra-title.list-katedra-title-khv.as-link ⮕  VÍCE O KATEDŘE



        .list-katedra-item-content-meta.column.is-half

          .columns

            .column.is-one-half
              .box-widget(style="background-color: #047fa8; color: #fefefe;")
                .heading Nabízené programy
                .content
                  h3 bakalářský program:
                  ul
                    li Historie
                  h3 navazující magisterské studium:
                  ul
                    li Moderní dějiny
                  h3 doktorský program:
                  ul
                    li Moderní dějiny


            .column.is-one-half
              .erasmus.box-widget(style="background-color: #d0973d; color: #fefefe;")
                .heading Erasmus
                .content
                  ul
                    li Belgie: Université de Liège (Lutych)
                    li Bulharsko: Plovdivski Universitet "Paisii Hilendarski"
                    li Finsko: Åbo Akademi University (Turku)
                    li Finsko: Oulu Ilyopisto (Oulu)
                    li Francie: Université d΄Artois (Arras)
                    li Itálie: Università di Bologna
                    li Itálie: Università degli Studi di Pavia
                    li Itálie: Università per Stranieri di Perugia
                    li Maďarsko: Szegedi Tudományegyetem (Univerzita v Szegedu)
                    li Maďarsko: Andrássy Universität Budapest
                    li Německo: Eberhard Karls Universität Tübingen
                    li Německo: Universität Rostock
                    li Německo: Universität Regensburg
                    li Německo: Universität Hildesheim
                    li Norsko: Norwegian University of Science and Technology (Trondheim)
                    li Polsko: Uniwersytet Warszawski (Varšava)
                    li Polsko: Uniwersytet Jagielloński (Krakov)
                    li Polsko: Uniwersytet Przyrodniczo-Humanistyczny w Siedlcach (Siedlce)
                    li Rakousko Universität Wien
                    li Rumunsko: Universitatea Valahia din Targoviste
                    li Řecko: University of the Aegean (Mytilini)
                    li Slovensko: Univerzita Komenského v Bratislave
                    li Slovensko: Univerzita Mateja Bela v Banskej Bystrici
                    li Slovensko: Univerzita Pavla Jozefa Šafárika v Košiciach
                    li Slovensko: Univerzita sv. Cyrila a Metoda v Trnave
                    li Slovinsko: Univerza v Ljublani
                    li Španělsko: niversidad Autónoma de Madrid
                    li Švédsko: Högskolan Dalarna (Falun)
                    li Turecko: Kahramanmaraş Sütçü İmam (Kahramanmaraş)
                    li Turecko: Kilis 7 Aralık Üniversitesi (Kilis)

    // katedra item
    .column.is-full.list-katedra-item#politologie

      .list-katedra-item-title-container

        h2.list-katedra-title.list-katedra-title-kap.as-title  Katedra politologie a mezinárodních vztahů


        .list-katedra-item-images-container.columns.is-desktop

          .column.is-half
            img.main-photo.item(src="assets/images/kap/kap-main.jpg")

          .column.is-half

            .item.video-container
              .video
                  <iframe src="https://www.youtube-nocookie.com/embed/bayPzgTZkrg" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

      .list-katedra-item-content-container.columns.is-tablet

        .list-katedra-item-content-intro.column.is-half
          p.
            Na KAP se studují nejaktuálnější témata české a světové politiky &mdash; populismus, extremismus, Brexit, předsednictví ČR v Radě EU v roce 2022, „zelená politika“, občanské války na Blízkém východě, růst moci Číny, rozvoj afrických států i&nbsp;americké prezidentské volby. Uchazečům KAP nabízí studium ve&nbsp;dvou bakalářských, dvou navazujících magisterských a jednom doktorském oboru a vedle toho i&nbsp;řadu možností vycestovat v&nbsp;rámci studia na některou ze čtyřicítky partnerských univerzit a strávit zde pár měsíců, semestr či rok. Absolventi KAP nacházejí uplatnění jako vysocí státní úředníci, diplomaté, úředníci v&nbsp;mezinárodních organizacích, analytici v&nbsp;mezinárodním obchodu, političtí poradci, novináři, mluvčí nebo vedoucí projektových týmů v&nbsp;soukromém i&nbsp;neziskovém sektoru.

          a(href="https://kap.zcu.cz/").list-katedra-title.list-katedra-title-kap.as-link ⮕  VÍCE O KATEDŘE



        .list-katedra-item-content-meta.column.is-half

          .columns

            .column.is-one-half
              .box-widget(style="background-color: #00b6d6; color: #fefefe")
                .heading Nabízené programy
                .content
                  h3 bakalářské programy:
                  ul
                    li Společnost a politika
                    li Mezinárodní vztahy &mdash; teritoriální studia (specializace Britská a americká studia nebo Evropská studia)
                  h3 navazující magisterské programy:
                  ul
                    li Politologie (specializace Výzvy pro liberální demokracii nebo Veřejné politiky)
                    li Mezinárodní vztahy (specializace Bezpečnostní studia nebo Politika v Evropské unii)
                  h3 doktorský program:
                  ul
                    li Mezinárodní vztahy

            .column.is-one-half
              .erasmus.box-widget(style="background-color: #b3bac4; color: #333;")
                .heading Erasmus
                .content
                  ul
                    li Bulharsko: Sofia University St. Kliment Ohridski, Sofie
                    li Estonsko: Tallinn University, Tallinn
                    li Francie: Institut d´etudes politique de Toulouse, Toulouse
                    li Francie: Université de Lille, Lille
                    li Francie: Université de Rennes, Rennes
                    li Itálie: Universitá degli studi di Pavia, Pavia
                    li Itálie: Universitá degli studi di Catania, Katánie
                    li Chorvatsko: University of Zagreb, Záhřeb
                    li Litva: Vytauto Didziojo Universitetas, Kaunas
                    li Maďarsko: Corvinus University, Budapešť
                    li Malta: University of Malta, Msida
                    li Makedonie: Ss. Cyril and Methodius University, Skopje
                    li Makedonie: St. Kliment Ohridski University, Bitola/Skopje
                    li Německo: Europa-Universität Viadrina, Frankfurt nad Odrou
                    li Německo: Technische Universitat Chemnitz, Chemnitz
                    li Německo: Otto Friedrich Universität Bamberg, Bamberk
                    li Německo: Universitat der Bundeswehr, Mnichov
                    li Nizozemsko: The Hague University of Applied Sciences, Haag
                    li Polsko: Jesuit University Ignatuanum in Krakow, Krakov
                    li Polsko: University of Wroclaw, Vratislav
                    li Polsko: The State University of Applied Sciences in Plock
                    li Polsko: Szkola Glowna Gospodarstwa Wiejskiego, Varšava
                    li Polsko: Jagellonian University, Krakov
                    li Polsko: University of Business and Administration in Gdynia, Gdyně
                    li Portugalsko: Universidade de Lisboa, Lisabon
                    li Portugalsko: Universidade Portucalense Infante D. Henrique, Porto
                    li Portugalsko: University of Minho, Braga
                    li Rumunsko: Babes - Bolayi University, Kluž
                    li Slovensko: Univerzita Konštantína Filozofa, Nitra
                    li Slovensko: Matej Bel University, Banská Bystrica
                    li Slovensko: Univerzita sv. Cyrila a Metoda v Trnave, Trnava
                    li Slovinsko: School of Advanced Social Studies, Nova Gorica
                    li Slovinsko: University of Lubljana, Lublaň
                    li Turecko: Antalya Bilim University, Antalya
                    li Turecko: Cukurova University, Adana
                    li Turecko: Kirikale University, Kirikale
                    li Turecko: Koaceli University, Koaceli
                    li Turecko: Sakarya Universitesi, Hendek
                    li Turecko: Yalova University, Yalova

    // katedra item
    .column.is-full.list-katedra-item#romanska-studia

      .list-katedra-item-title-container

        .subtitle
          i „La langue française est une femme. Et cette femme est si belle, si fière, si modeste, si hardie, touchante, voluptueuse, chaste, noble, familière, folle, sage, qu'on l'aime de toute son âme, et qu'on n'est jamais tenté de lui être infidèle.“
          div (Anatole de France)

        h2.list-katedra-title.list-katedra-title-kro.as-title  Katedra románských jazyků


        .list-katedra-item-images-container.columns.is-desktop

          .column.is-half
            img.main-photo.item(src="assets/images/kro/kro-main.jpg")


          .column.is-half

            .item.video-container
              .video
                <iframe src="https://www.youtube-nocookie.com/embed/s5AZHN_8h-M" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>



      .list-katedra-item-content-container.columns.is-tablet

        .list-katedra-item-content-intro.column.is-half
          p.
            Katedra románských jazyků nabízí studium francouzštiny na bakalářské a magisterské úrovni. Studium směřuje k ovládnutí znalostí a dovedností obecného i&nbsp;odborného jazyka a k&nbsp;získání kulturního a politického přehledu o&nbsp;frankofonních zemích. V&nbsp;rámci magisterského studia jsou pak osvojovány i&nbsp;dovednosti didaktické. KRO rozvíjí mezinárodní kontakty s&nbsp;četnými zahraničními pracovišti a studentům se tak nabízejí široké možnosti studia na těchto partnerských univerzitách. Pracovníci KRO se ve&nbsp;své vědeckovýzkumné činnosti zaměřují zejména na problematiku odborné francouzštiny, aplikované lingvistiky, didaktiky cizích jazyků a kultury frankofonního světa, kterou přenášejí do výuky a studenti mohou formou projektů participovat na těchto aktivitách.

          .katedra-social-links
            h3 Odkazy a sociální sítě
            a.social-link.link-facebook(href="https://www.facebook.com/Katedra-rom%C3%A1nsk%C3%BDch-jazyk%C5%AF-FF-Z%C4%8CU-1600847146886145") Facebook katedry

          a(href="https://kro.zcu.cz/").list-katedra-title.list-katedra-title-kro.as-link ⮕  VÍCE O KATEDŘE



        .list-katedra-item-content-meta.column.is-half

          .columns

            .column.is-one-half
              .box-widget(style="background-color: #e3111a; color: #fefefe")
                .heading Nabízené programy
                .content
                  h3 bakalářské programy:
                  ul
                    li Cizí jazyky pro komerční praxi (v kombinaci s angličtinou ve společném základu) <br> Možnost získání dvojího bakalářského diplomu (double diplôme de licence), kromě diplomu ZČU v Plzni lze získat též diplom Université d´Artois v Arrasu
                  h3 navazující magisterské studium:
                  ul
                    li Učitelství francouzštiny pro střední školy <br> Možnost získání dvojího magisterského diplomu (double diplôme de master), kromě diplomu ZČU v Plzni lze získat též diplom Université d´Artois v Arrasu


            .column.is-one-half
              .erasmus.box-widget(style="background-color: #ece6e8; color: #333;")
                .heading Erasmus+
                .content.
                  V rámci programů Erasmus a Inter  nabízí studentům možnost absolvovat studijní pobyt na univerzitách v Arrasu,  Limoges, Paris Créteil Val de Marne,  Perpignanu, Amiensu, Oviedu, Istanbulu a na Korfu.

    // katedra item
    .column.is-full.list-katedra-item#sociologie

      .list-katedra-item-title-container

        .subtitle Sociology reveals the hidden

        h2.list-katedra-title.list-katedra-title-kss.as-title  Katedra sociologie

        .list-katedra-item-images-container.columns.is-desktop

          .column.is-half
            img.main-photo.item(src="assets/images/kss/kss-main.jpg")

          .column.is-half

            .item.video-container
              .video
                <iframe src="https://www.youtube-nocookie.com/embed/KuIgm9doV-I" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

      .list-katedra-item-content-container.columns.is-tablet

        .list-katedra-item-content-intro.column.is-half

          .content
            p.
              4 důvody, proč se přihlásit a studovat na katedře sociologie v Plzni<br>
              1. Naučíte se praktické dovednosti: Sociologie a sociální práce jsou jedny z nejpraktičtějších sociálně-vědních oborů. <br>
              2. Porozumíte světu kolem sebe: Naučíme vás vidět souvislosti i tam, kde nejsou na první pohled vidět. Zjistíte, že odkrývání skrytého je velké dobrodružství.<br>
              3. Plzeň si zamilujete: Řešíte, kolik vás studium bude stát? Plzeň je velká tak akorát, když budete chtít, váš rozpočet si vylepšíte brigádami nebo placenou prací na katedrálních projektech, které pravidelně studentům nabízíme. Hodit se vám to bude i&nbsp;do vašeho životopisu.<br>
              4. Vyjedete na stáž do zahraničí: Chcete si zkusit žít na chvíli v cizině a poznat nové přátele či kulturu

          .katedra-social-links
            h3 Odkazy a sociální sítě
            a.social-link(href="https://socialniprace.zcu.cz/") Studijní program Sociální práce
            a.social-link.link-facebook(href="https://www.facebook.com/sociologie.zcu") Facebook katedry


          a(href="https://kss.zcu.cz/").list-katedra-title.list-katedra-title-kss.as-link ⮕  VÍCE O KATEDŘE


        .list-katedra-item-content-meta.column.is-half

          .columns

            .column.is-one-half
              .box-widget(style="background-color: #C7874C;")
                .heading Nabízené programy
                .content
                  h3 bakalářský program:
                  ul
                    li Společnost a politika - sociologie  (Bc.)
                    li Sociální práce (Bc.)
                  h3 navazující magisterské studium:
                  ul
                    li Sociologie (Mgr.)

            .column.is-one-half
              .erasmus.box-widget(style="background-color: #9f90ad;")
                .heading Erasmus
                .content.
                  OsloMet &mdash; Oslo Metropolitan University<br>
                  Die Katholische Universität Eichstätt-Ingolstadt (KU)<br>
                  Uniwersytet Wrocławski<br>
                  Univerza v Mariboru<br>
                  a další







