.main-footer


  .columns

    .column.col-logo.is-one-third
      img.footer-info-to-load(src="assets/images/titulka_logo.png" alt="")


    .column.is-two-thirds
      .video
        <iframe src="https://www.youtube-nocookie.com/embed/ymAOGkX5VZY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

      p.footer-info-to-load Fakulta filozofická je moderní, kreativní a otevřenou fakultou, zahrnující pestrou paletu oborů z oblasti společenských a humanitních věd. Fakulta hraje důležitou úlohu ve společenském a kulturním prostoru města Plzně, což je patrné na celé řadě aktivit, pořádaných či spolupořádaných jejími studenty a zaměstnanci. Kromě tradičních disciplín filozofie, archeologie a historie se fakulta zaměřuje na studium společnosti moderní doby, studium regionů Blízkého východu a Afriky, post-sovětské oblasti, vyloučených lokalit, dějin vědy a techniky, dějin mezinárodních vztahů, paleoantropologii, transformace postkomunistické společnosti, mezinárodní bezpečnosti, pozornost věnuje česko-bavorské spolupráci a studiu cizích jazyků, rozvíjí vztahy s relevantními institucemi státní správy i neziskovým sektorem. Důležitou součástí života fakulty je mezinárodní spolupráce na mnoha úrovních, z níž profitují studenti všech typů studia. Fakulta v rámci svých programů nabízí studium angličtiny, francouzštiny, němčiny, ruštiny, arabštiny, hebrejštiny a perštiny.
      p.footer-info-to-load Fakultu tvoří v současnosti deset kateder: katedra anglického jazyka a literatury, katedra antropologie, katedra archeologie, katedra blízkovýchodních studií, katedra filozofie, katedra germanistiky a slavistiky, katedra historických věd, katedra politologie a mezinárodních vztahů, katedra románských jazyků a katedra sociologie.
      p.footer-info-to-load.
        Založena v roce 1999 <br>
        10 kateder, 27 studijních programů<br>
        Přes 1300 studentů<br>
        Umístění v srdci města<br>
        Široká spolupráce se zahraničními univerzitami



  .columns

    .column
      div
        <small>Kontaktní údaje</small>
        p.
          Mgr. Naděžda Hlaváčková<br>
          PR manažerka FF ZČU<br>
          nadezdah@kfi.zcu.cz

    .column
      <small>Jsme na sociálních sítích</small>
      p.
        <a href="https://www.instagram.com/ff_zcu/">Náš Instagram</a><br>
        <a href="https://www.facebook.com/ff.zcu.cz">Náš Facebok</a><br>
        <a href="https://www.youtube.com/channel/UCU3DZ0ZjvDnT9BBpv_BszBg">Youtube ZČU</a><br>

    .column.license
      p
        small Autor fotografií: Miroslav Chaloupka. Autor videí: Studio zamlklých mužů.
      p
        small Ostatní části díla podléhají licenci <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Uveďte původ-Neužívejte dílo komerčně-Zachovejte licenci 4.0 Mezinárodní License</a>.
      .cc-logo
        a(rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/")
          img(alt="Licence Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png")

.topbar-test.is-hidden



