
.main-header-container

  .main-header

    .logo
      img(src="assets/images/titulka_logo.png" alt="Fakulta filozofická Západočeské univerzity v Plzni")

    nav.main-menu
      a.link(href="#" data-rel="#antropologie") Antropologie
      a.link(href="#" data-rel="#anglicky-jazyk") Anglický jazyk a&nbsp;literatura
      a.link(href="#" data-rel="#archeologie") Archeologie
      a.link(href="#" data-rel="#blizkovychodni-studia") Blízkovýchodní studia
      a.link(href="#" data-rel="#filozofie") Filozofie
      a.link(href="#" data-rel="#germanistika") Germanistika a slavistika
      a.link(href="#" data-rel="#historicke-vedy") Historické vědy
      a.link(href="#" data-rel="#politologie") Politologie a mezinárodní vztahy
      a.link(href="#" data-rel="#romanska-studia") Románské jazyky
      a.link(href="#" data-rel="#sociologie") Sociologie

    nav.alt-menu
      a.link(href="#" data-offset="0" data-rel=".main-footer") O fakultě
      a.link(href="https://ff.zcu.cz") Web fakulty →

.hero-box

  .hero-image-container
    img.hero-bg-image(src="assets/images/ff_banner_1920x825.jpg")
    .hero-title-box
      .hero-title-main
        h1 STUDUJTE NA FAKULTĚ FILOZOFICKÉ
      .hero-title-subtitle
        p.stream-link <a href="https://youtu.be/EtiWQEb3tac?t=1629">Odkaz na záznam livestreamu ZČU</a>
        p.is-hidden Našich deset kateder má jediný cíl – připravit vás na úspěšnou profesní dráhu.

    .sticky-anchor

  .hero-content-container
    .hero-subtitle ÚVODNÍ SLOVO DĚKANA

    p.
      Vážené budoucí studentky, vážení budoucí studenti,<br><br>
      srdečně Vás zdravím u příležitosti dne otevřených dveří naší Fakulty filozofické. Letos poprvé představujeme fakultu pouze prostřednictvím webových stránek, nicméně jsem si jist, že až se podíváte na fotky a videa, které jsme pro vás připravili, získáte velmi dobrý přehled o tom, co a jak u nás můžete studovat. Zájemci o humanitní a společenskovědní obory si mohou vybrat z široké nabídky studijních programů zaměřených jak akademicky, tak profesně. K tomu, aby Vás studium v Plzni bavilo, rozhodně přispěje mimo jiné to, že Vás budou učit vynikající odborníci a že výuka bude probíhat v centru města. Na fakultě klademe důraz na osobní přístup ke studentům, umožnění výjezdu do zahraničí všem zájemcům a uplatnění absolventů v praxi.

    p Věřím, že Vás nabídka studia na Fakultě filozofické Západočeské univerzity v Plzni zaujme, nadchne, a vyberete si program, který odpovídá Vašim představám a zájmům. Těším se, až se na naší fakultě v září potkáme.

    .signature
      p
        img(src="assets/images/dekan-podpis.png")
        br
        i PhDr. David Šanc, Ph.D.
        br
        i děkan Fakulty filozofické
        br
        i Západočeské univerzity  v Plzni

